.introducao {
    position: relative;
    display: flex;
    align-items: flex-start;
    border-top: 5px solid rgb(139, 77, 255);
    height: 780px;
}

.painel_esquerda .foto_profissional {
    position: absolute;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    width: 50%;
    height: auto;
    border: 2px lightblue;
    z-index: 1;
    border-radius: 46%;
    border: 4px outset rgb(139, 77, 255)
}

.painel_esquerda {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 35%;
    background-color: rgb(65, 65, 65);
    vertical-align: middle;
}

.painel_esquerda .botoes_introducao {
    margin: 35px 0 35px 35px;
    font-size: 35px;
    transition: all 0.3s;
    cursor: pointer;
    width: fit-content;
    color: white;
    text-decoration-color: rgb(139, 77, 255);
}

.painel_esquerda .botoes_introducao:hover {
    transform: translateX(10px);
    text-decoration: underline 3px rgb(139, 77, 255);
}

.painel_esquerda .botoes_introducao:active {
    text-decoration: underline 3px rgb(5, 197, 255);
    transition: none;
}

.painel_direita {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8.5%;
    height: 100%;
    width: 65%;
    background-color: rgb(138, 138, 138);
    box-sizing: border-box;
}

.painel_direita article {
    background-color: white;
    box-shadow: 2px 2px 7px rgb(139, 77, 255);
    margin: 20px;
    border-radius: 5px;
    width: 285px;
    height: 420px;
    transition: all 0.4s;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.painel_direita article:hover {
    transform: translateY(-8px)
}

.painel_direita img {
    height: 120px;
    margin: 0 auto;
}

.painel_direita p {
    border: 1px solid black;
    width: 100%;
    text-align: center;
}