.experiencias {
  display: flex;
  position: relative;
}
.experiencias div {
  margin: 0;
}

.header {
  text-align: center;
  padding: 15px 0;
  font-size: 48px;
  font-weight: bold;
  color: white;
  transition: all 0.5s;
}
.painel_imagem_frubana {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 60px;
  width: 50%;
}
.painel_imagem_frubana img {
  height: 100px;
  transition: all 0.3s;
}
.painel_imagem_frubana img:hover {
  transform: scale(105%);
}
.painel_imagem_frubana main h4 {
  font-size: 28px;
  color: white;
  transition: all 0.5s;
}
.painel_imagem_frubana p {
  font-size: 18px;
  color: white;
}
.painel_imagem_frubana main {
  text-align: left;
}
.descricao_experiencia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  width: 50%;
  /* border: 1px solid rgb(255, 159, 159); */
  position: relative;
}
.descricao_experiencia main {
  width: 85%;
}
.descricao_experiencia main p {
  text-align: justify;
  color: white;
  font-size: 15px;
}

@media screen and (min-width: 1560px) {
  .header {
    font-size: 55px;
  }
  .painel_imagem_frubana {
    padding-right: 90px;
    height: 420px;
  }
  .painel_imagem_frubana img {
    height: 112px;
  }
  .painel_imagem_frubana main h4 {
    font-size: 30px;
  }
  .painel_imagem_frubana p {
    font-size: 20px;
    color: white;
  }
  .descricao_experiencia {
    padding-left: 30px;
  }
  .descricao_experiencia main p {
    text-align: justify;
    color: white;
    font-size: 17px;
    /* border: 1px solid white; */
  }
}
