.experiencias {
  display: flex;
  position: relative;
} .experiencias div {
  margin: 0;
}

.item1 {
    text-align: center;
    padding: 15px 0;
    font-size: 48px;
    font-weight: bold;
    color: white;
  } 
.item2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding-right: 60px;    
    width: 50%;
}.item2 img {
    height: 100px;
    transition: all 0.3s;
} .item2 img:hover {
  transform: scale(105%);
} 
.item2 main h4 {
  font-size: 28px;
  color: white;
} .item2 p {
font-size: 18px;
  color: white;
}.item2 main {
  text-align: left;
}
.item3 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  width: 50%;
  /* border: 1px solid rgb(255, 159, 159); */
  position: relative;
}
.item3 main {
  width: 85%;
}
.item3 main p {
  text-align: justify;
  color: white;
  font-size: 15px;
  /* border: 1px solid white; */
}
