
.m {
    position: relative;
    margin: 0;
    height: 100vh;
    border: 1px solid black;
    background: url('../images/inicioHome.jpg');
    background-repeat: no-repeat;
    background-size: 100vw, 100vh;
}

.m .degrade {
    height: 87.5vh;
    background-image: linear-gradient(to top, black,rgba(75, 75, 75, 0.1));;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.m .degrade h1 {
    font-size: 75px;
}

.m .degrade h1 b {
    background-color: rgb(0,0,0,0.85);
}

.m .degrade p {
    font-size: 30px;
}

