.navegacao {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 25px;
	padding-right: 50px;
	background-color: rgb(27, 27, 27);
	border-bottom: 2px solid rgb(139, 77, 255);
}

@media screen and (max-width: 400px) {
	.navegacao {
		width: 100vh
	}
}

.navegacao .divNavegacaoBotoes {
	display: flex;
	align-items: center;
}

.navegacao .fotoNav {
	height: 42px;
	vertical-align: middle;
	transition: all 0.2s;
	cursor: pointer;
}

.navegacao .fotoNav:hover {
	transform: scale(1.155);
}


.navegacao .botoesNavegacao {
	color: white;
	padding: 0;
	margin: 0 15px;
	width: fit-content;
	height: fit-content;
	padding: 8px;
	line-height: normal;
	text-wrap: wrap;
	font-size: 15px;
	cursor: pointer;
	position: relative;
	text-align: center;
	z-index: 0;
	overflow: hidden;
	transition: all 0.6s;
}

.navegacao .botoesNavegacao:hover {
	color: rgb(139, 77, 255);
}
/* 
.navegacao .botoesNavegacao::after {
	display: block;
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	background-color: white;
	height: 100%;
	width: 100%;
	z-index: -1;
	transition: all 0.4s;
}
.navegacao .botoesNavegacao:hover:after {
	left: 0;
} */

.navegacao .changeLanguage {
	text-align: center;
	margin-left: 60px;
	transition: all 0.3s;
}

.navegacao .changeLanguage img {
	height: 20px;
	margin: 1.5px;
}

.navegacao .changeLanguage img:hover {
	border: 1.5px solid rgb(139, 77, 255);
	position: relative;
	margin: 0.5px;
}
