.navegacao {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 25px;
	padding-right: 50px;
	background-color: rgb(27, 27, 27);
	border-bottom: 2px solid rgb(139, 77, 255);
}

@media screen and (max-width: 900px) {
	.navegacao {
		width: 100vw;
		z-index: 2;
	}
	.navegacao .fotoNav {
		height: 0px;
	}
}

.navegacao .divNavegacaoBotoes {
	display: flex;
	align-items: center;
}

.navegacao .fotoNav {
	height: 42px;
	vertical-align: middle;
	transition: all 0.2s;
	cursor: grab;
    transition: all 3.5s;
} .navegacao .fotoNav:active {
	cursor: grabbing;
}

.navegacao .divNavegacaoBotoes p {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0 20px;
	width: fit-content;
	height: fit-content;
	padding: 8px;
	line-height: normal;
	text-wrap: wrap;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	transition: all 0.4s;
	position: relative;
	overflow: hidden;
}

.navegacao .divNavegacaoBotoes p::after {
	content: '';
	position: absolute;
	top: 95%;
	left: -100%;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgb(132, 0, 255);
	transition: all 0.4s;
}

.navegacao .divNavegacaoBotoes p:hover::after {
	left: 0%;
}

.navegacao .changeLanguage {
	text-align: center;
	margin-left: 60px;
	cursor: pointer;
}

.navegacao .changeLanguage img {
	height: 20px;
}

.navegacao .changeLanguage img:hover {
	border: 1.5px solid rgb(139, 77, 255);
	transform: scale(101%);
}
