.projetos {
    position: relative;
    width: 100%;
    background-color: white;
    text-align: center;
    border: 2px solid rgb(255, 0, 0);
}

.projetos .tituloProjetos{
    margin: 20px 0;
}

.projetos .tituloProjetos h1 {
    font-size: 55px;
    width: fit-content;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: linear-gradient(to bottom, rgb(152, 41, 255), rgb(86, 0, 199));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projetos .tituloProjetos p {
    font-size: 15px;
    margin: 7px auto;
    width: 50%;
    /* border: 1px solid black; */
}

.projetos .navegacaoProjetos {
    border: 2px solid black;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    border-radius: 80px;
    width: fit-content;
}

.projetos .navegacaoProjetos button {
    border-radius: 80px;
    box-sizing: border-box;
    width: 210px;
    height: 65px;
    font-size: 19px;
    transition: all 0.3s;
}

.projetos .navegacaoProjetos button:hover {
    text-decoration: underline 4px rgb(152, 42, 255);
    transition: none;
}

.projetos .descProjetos {
    position: relative;
    box-shadow: 5px 5px 10px rgb(134, 134, 134);;
    margin: 40px auto;
    display: flex;
    align-items: center;
    width: 68%;
    height: 520px;
    border-radius: 20px;
    background-color: rgb(216, 181, 255);
}

.projetos .descProjetos .images {
    position: relative;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.projetos .descProjetos .images input {
    display: none;
}

.projetos .descProjetos .images .divImagens {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    display: flex;
    height: 350px;
    width: 325px;
    overflow: hidden;
    border: 7px inset rgb(195, 132, 255);
}

.projetos .descProjetos .images .divImagens img, video{
    height: 343px;
    width: 318px;
    transform: translateX(0);
    transition: all 0.6s;
}

.projetos .descProjetos .images .navegacaoImagens{
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.projetos .descProjetos .images .navegacaoImagens label {
    height:20px;
    width:20px;
    border: 1px solid black;
    cursor: pointer;
    transition: all 0.3s;
    margin: 10px 5px;
    border-radius: 20px;
    background-color: white;
} .projetos .descProjetos .images .navegacaoImagens label:hover {
    background-color: rgb(28, 223, 230);
}

.projetos .descProjetos .descricao {
    width: 50%;
    display: flex;
    height: 85%;
    flex-direction: column;
    justify-content: space-around;
    border-left: 1px solid black;
    padding: 20px 45px;
}

.projetos .descProjetos .descricao h1 {
    text-align: left;
}

.projetos .descProjetos .descricao p {
    text-align: justify;
    font-size: 14px;
    margin: 0;
}

.projetos .descProjetos .descricao div {
    text-align: left;
    margin: 0;
}

.projetos .descProjetos .descricao div p {
    text-align: left;
    width: 100%;
    font-weight: bold;
    font-size: 18px;
    margin: 7px;
}

.projetos .descProjetos .descricao img {
    height: 30px;
    border-radius: 0;
    margin: 5px 5px;
}

.projetos .descProjetos .descricao .divBotoes {
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.projetos .descProjetos .descricao article {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 35px; 
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    font-size: 47px;
    position: relative;
    overflow: visible;
    z-index: 1;
    transition: all 0.4s;
}
.descricao .linkExterno:hover {
    transform: translateX(-100%);
}
.descricao .linkExterno::after {
    content: '';
    font-size: 0px;
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s;
    display: block;
}
.descricao .linkExterno:hover::after {
    display: flex;
    align-items: center;
    padding-left: 55%;
    font-size: 17px;
    left: 50%;
    width: 300%;
    border-radius: 0px 500px 500px 0px;
    content: 'Acesse o link';
}