.introducao {
    position: relative;
    display: flex;
    align-items: flex-start;
	border-bottom: 3.5px solid rgb(139, 77, 255);
    height: 600px;
}

.foto_profissional {
    height: 220px;
    border: 2px lightblue;
    z-index: 1;
    border: 3px outset rgb(139, 77, 255);
    box-shadow: 3px 3px 8px rgb(28, 176, 221);
}

.painel_esquerda {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
    height: 100%;
    width: 32%;
    background-color: rgb(65, 65, 65);
    vertical-align: middle;
}

.painel_esquerda .botoes_introducao {
    margin: 10px 0 10px 25px;
    /* border: 1px solid white; */
    font-size: 35px;
    padding: 5px 0;
    transition: all 0.4s;
    cursor: pointer;
    width: fit-content;
    color: white;
    text-decoration-color: rgb(139, 77, 255);
    overflow: hidden;
    align-self: flex-start;
}

.painel_esquerda .botoes_introducao::after {
    content: '';
	position: absolute;
	top: 94%;
	left: -100%;
	z-index: 1;
	width: 100%;
	height: 6%;
	background-color: rgb(132, 0, 255);
	transition: all 0.4s;
}

.painel_esquerda .botoes_introducao:hover::after {
    left: 0%
}

.painel_esquerda .botoes_introducao:hover {
    transform: translateX(10px);
    /* text-decoration: underline 3px rgb(139, 77, 255); */
    text-shadow: 0 -2px 15px rgb(138, 75, 255);
}

.painel_esquerda .botoes_introducao:active {
    /* text-decoration: underline 3px rgb(5, 197, 255); */
    transition: none;
    overflow: visible;
    text-shadow: -2px -2px 17px rgb(5, 197, 255);
}

.painel_direita {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 68%;
    background-color: rgb(138, 138, 138);
}

.painel_direita h1 {
    position: relative;
    top: 60px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 65px;
}

.painel_direita article {
    background-color: white;
    box-shadow: 2px 2px 7px rgb(139, 77, 255);
    margin: 0px 10px;
    border-radius: 5px;
    width: 285px;
    height: 420px;
    transition: all 0.4s;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.painel_direita article:hover {
    transform: translateY(-5px)
}

.painel_direita img {
    height: 160px;
    margin: 0 auto;
}

.painel_direita article hr {
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
    margin: 5px 0px;
}
/* .painel_direita article h3 {
    border-bottom: 1px solid grey;
    width: 100%;
} */

.painel_direita p {
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    padding: 8px;
    text-align: center;
}


@media screen and (max-width: 1560px) {
    .painel_direita article {
        width: 240px;
        height: 370px;
    }
    .painel_direita img {
        height: 80px;
    }
    .painel_direita p {
        font-size: 15px;
    }
    .introducao {
        height: 650px;
    }
    .painel_esquerda .botoes_introducao {
        font-size: 28px;   
        margin: 20px 0 10px 35px; 
    }
    .painel_direita h1 {
        top: 45px;
        font-size: 48px;
    }
  }