.fade-in {
    /* transform: translateX(-60px); */
    transition: opacity 1s ease;
}

.fade-out {
    opacity: 0;
    transition: all 1s;
    transform: translateX(30px);
}

.come {
    transition: opacity 1s ease;
    transition-delay: 5.5s;
}

#selected {
    text-decoration: underline 3px rgb(139, 77, 255);
    text-shadow: 0 -2px 15px rgb(138, 75, 255);
}

